<h1>Cocktails</h1>

<ul>
  <% @cocktails.each do |cocktail| %>

    <li>
      <% cocktail.photos.each do |photo| %>
        <%= cl_image_tag photo.path, width: 100, height: 100, gravity: "center", crop: "thumb" %>
      <% end %>
      <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </li>

  <% end %>

</ul>

<%= link_to 'Add New Cocktail', new_cocktail_path, class: 'btn btn-primary' %>
